@model Vidly.ViewModels.CustomersViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table">
    <tr>
        <th>Customer</th>
        <th>Discout Rate</th>
    </tr>
    @foreach( var customer in Model.Customers)
    {
        <tr>
            <td>@Html.ActionLink(customer.Name, "CustomerDetails", "Customers", new { id = customer.Id }, null)</td>
            <td>@customer.MembershipType.DiscountRate%</td>
        </tr>
    }
</table>



